######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

.flattened-pom.xml

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

### JRebel ###
rebel.xml

application-my.yaml

/yudao-ui-app/unpackage/
**/.DS_Store

# 备份目录
backup-new-ui/

# Vite 缓存
yudao-ui/yudao-ui-admin-vue3/.vite/
yudao-ui/yudao-ui-admin-vue3/node_modules/

# Maven 手动下载
apache-maven-*.tar.gz
apache-maven-*/
original-yudao-ui/
